:root {
    --main-font: 'PokemonSolid', sans-serif;

}

@font-face {
    font-family: 'PokemonSolid';
    src: url('./assets/fonts/PokemonSolid.ttf') format('truetype');
}

body {
    box-sizing: border-box;
    background: linear-gradient(135deg, #a8e063, #56ab2f);
    min-height: 100vh;
    font-family: var(--main-font);
    letter-spacing: 3px;
    display: flex;
    align-items: center;

    flex-direction: column;
}



p {
    margin: 0;
    padding: 0;
}

.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 1920px;
    background-color: red;
    border-top: 3px solid black;

}


.d-none {
    display: none;
}

.flex-standard {
    display: flex;
    justify-content: center;
    align-items: center;
}