body{
    box-sizing: border-box;
     background: linear-gradient(135deg, #a8e063, #56ab2f);
     min-height: 100vw;
}

p{
    margin: 0;
    padding: 0;
}


.d-none{
    display: none;
}

.flex-standard{
    display: flex;
    justify-content: center;
    align-items: center;
}